/docs
/node_modules
/vendor
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iws
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/httpRequests

.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/php.xml
.idea/vcs.xml
.idea/webResources.xml
assets/dist/css/gutenberg.css
assets/dist/css/gutenberg.css.map
assets/dist/js/gutenberg.min.js
