/*
 =======================================================================================================================
 Custom Styles - All Sizes (Small & up)

 Start here for mobile-first workflows. You can place your own custom theme styles here or you can create one or more of 
 your own scss files. Just be sure to @import them from app.scss!
 =======================================================================================================================
*/

.comments-nav {
    // Comment pagination control
}
.comments-list {
    section.replies {
        padding-left: 2rem;
    }
    article.comment {
        padding: 1rem 0;
    }
    article.parent.depth-1,
    & > section.replies {
        border-left: 0.25rem solid silver;
        padding-left: 0.5rem;
    }
}