// =======================================================================================================================
// Default WordPress-centric Styles
//
// This is included automatically by app.scss and editor.css and is used to add support for basic WordPress components.
// Generally, you shouldn't need to modify this file.
//
// Instead, create your own styles in _custom.scss and, if needed, remove the "wordpress" import from app.scss to prevent
// this file from being loaded.
// =======================================================================================================================

/*
=============================
 DOCUMENT RIGHT MARGIN FIX
=============================
*/
#frame {
    overflow: hidden;
}

/*
=============================
 IMAGES
=============================
*/
.wp-caption {
    max-width: 100%;
}
.gallery {
    @include clearfix;
    @include grid-layout( 3, ".gallery-item" );
    .gallery-item {
        margin: 0;
        & > * {
            padding: .5rem;
        }
        .gallery-icon {
            text-align: center;
        }
    }
}

/*
=============================
 ALIGNMENT
=============================
*/
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1em;
}
.alignright {
    display: inline;
    float: right; 
    margin-left: 1em;
}

/*
=============================
 FOUNDATION COMPATIBILITY
=============================
*/

//This helps ensure that Foundation's special ".sticky" class will not interfere with the WP admin bar.
.admin-bar .snap-to-top.fixed {
    top: 28px;
}