/*
 =======================================================================================================================
 Foundation App Boostrap

 This file loads all the SCSS components for Foundation & NOUVEAU. You should place your own styles into one or more
 separate .scss files and import your own styles at the bottom of this file.
 =======================================================================================================================
*/

// Foundation settings: _settings.scss
@import "settings";

// Optional: Use NOUVEAU mixins, including image-url() fix
@import "mixins";

// Optional: Uncomment to use...
//@import "../../bower_components/foundation/scss/normalize";

// Load all Foundation components...
@import "../../bower_components/foundation/scss/foundation";

// Or selectively include components
// @import
//   "../../bower_components/foundation/scss/foundation/components/accordion",
//   "../../bower_components/foundation/scss/foundation/components/alert-boxes",
//   "../../bower_components/foundation/scss/foundation/components/block-grid",
//   "../../bower_components/foundation/scss/foundation/components/breadcrumbs",
//   "../../bower_components/foundation/scss/foundation/components/button-groups",
//   "../../bower_components/foundation/scss/foundation/components/buttons",
//   "../../bower_components/foundation/scss/foundation/components/clearing",
//   "../../bower_components/foundation/scss/foundation/components/dropdown",
//   "../../bower_components/foundation/scss/foundation/components/dropdown-buttons",
//   "../../bower_components/foundation/scss/foundation/components/flex-video",
//   "../../bower_components/foundation/scss/foundation/components/forms",
//   "../../bower_components/foundation/scss/foundation/components/grid",
//   "../../bower_components/foundation/scss/foundation/components/inline-lists",
//   "../../bower_components/foundation/scss/foundation/components/joyride",
//   "../../bower_components/foundation/scss/foundation/components/keystrokes",
//   "../../bower_components/foundation/scss/foundation/components/labels",
//   "../../bower_components/foundation/scss/foundation/components/magellan",
//   "../../bower_components/foundation/scss/foundation/components/orbit",
//   "../../bower_components/foundation/scss/foundation/components/pagination",
//   "../../bower_components/foundation/scss/foundation/components/panels",
//   "../../bower_components/foundation/scss/foundation/components/pricing-tables",
//   "../../bower_components/foundation/scss/foundation/components/progress-bars",
//   "../../bower_components/foundation/scss/foundation/components/reveal",
//   "../../bower_components/foundation/scss/foundation/components/side-nav",
//   "../../bower_components/foundation/scss/foundation/components/split-buttons",
//   "../../bower_components/foundation/scss/foundation/components/sub-nav",
//   "../../bower_components/foundation/scss/foundation/components/switches",
//   "../../bower_components/foundation/scss/foundation/components/tables",
//   "../../bower_components/foundation/scss/foundation/components/tabs",
//   "../../bower_components/foundation/scss/foundation/components/thumbs",
//   "../../bower_components/foundation/scss/foundation/components/tooltips",
//   "../../bower_components/foundation/scss/foundation/components/top-bar",
//   "../../bower_components/foundation/scss/foundation/components/type",
//   "../../bower_components/foundation/scss/foundation/components/offcanvas",
//   "../../bower_components/foundation/scss/foundation/components/visibility";


// Load NOUVEAU compatibility styles
@import "wordpress";    

// PLACE YOUR OWN STYLES HERE...
//@import 'your-styles';